name: kutlama
description: Ilayda icin dogum gunu kutlamasi.
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  # Konfeti efekti için bu paketi kullanıyoruz
  confetti: ^0.8.0
  # Google fontları için (isteğe bağlı ama güzel görünür)
  google_fonts: ^8.0.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true
